/* 
Author: Tobias McMillan
Date: 03/07/2026
File Name: styles.css
*/

/* CSS Reset: */
body, header, nav, ul, main, footer, img, h1, h2, section, article, aside {
	margin: 0;
	padding: 0;
	border: 0;
}



/* style rules for body content */
body {
	padding-top: 110px;
	align-content: center;
}	

p {
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
}	

div {
	list-syle-type: none;
	margin-top: 2%;
	margin-bottom: 2%;
	position: sticky;
	overflow: hidden;
}

/* Style rules for nav content */
nav {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	border-radius: 10px;
	background-color: #000;
	z-index: 1000;
}

.navbar {
    border-radius: 10px;
}

.navbar li a {
	padding: 5px 10px;
}

nav li {
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10px;
    border: 1px solid #fff
}

nav li a {
	color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}

nav li a:hover {
        color: #4424d6;
        background-color: #e5e0fa;
		border-radius: 10px;
    }

/* Style rules for images */
img {
	display: block;
	width: 80%;
	height: 30%;
	align-content: center;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

figure {
	font-size: 80%;
	text-align: center;
}

/* Styles rules for header content */
header {
	display: block;
	text-align: center;
	margin: 2% 0% 2% 0%
}

h1 {
	margin-left: 0px;
	font-family: 'Maderon', sans-serif;
	font-weight: bold;
	font-size: 2em;
}

h2 {
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: auto auto;
}

/* Style rules for button */
button {
	margin-top: 5%;
	margin-bottom: 2%;
}

/* style rules for table content */
table {
	display: none;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #000;
}

th {
	color: #fff;
}

#videos, iframe {
	max-width: 90%;
	height: 100%;
	
}

/* style rules for article content */
article {
	margin: 2%;
}

aside {
	text-align: center;
	font-size: 80%;
	font-style: italic;
	padding-left: 15%;
	padding-right: 15%;
}

/*Style rules for form content */
form {
	background-color: #fff7ef;
}

fieldset {
	display: grid;
	grid-template-columns: auto auto;
	padding: 2%;
	margin: 2%;
}

label, input {
	padding: 2%;
	margin: 2%;
}

/* Styles for footer content */
footer {
	text-align: center;
	font-size: 0.7em;
	clear: left;
}	

/* Styles for .fa-solid .fa-futbol classes */
.fa-solid .fa-futbol {
	margin: 0px 7px;
}

/* Media Query for Small Mobile Viewport */
@media screen and (max-width: 199px), print {

	body {
		margin-top: 40px;
	}

	/* Small Mobile Viewport: Style rules for header area */
	h1 {
		font-size: 90%;
	}

	h2 {
		font-size: 90%;
	}

	/* Small Mobile Viewport: Style rules for main content */
	main {
		font-size: 70%;
	}
	
	/* Small Mobile Viewport: Style rules for .nav-link class content */
	.nav-link {
		font-size: 1%;
	}
}

/* Media Query for Mobile Viewport */
@media screen and (min-width: 200px), print {

	/* Mobile Viewport: Style rules for header area */
	h1 {
		font-size: 90%;
	}

	h2 {
		font-size: 100%;
	}

	/* Mobile Viewport: Style rules for main content */
	main {
		font-size: 70%;
	}
	
	/* Mobile Viewport: Style rules for .nav-link class content */
	.nav-link {
		font-size: 1%;
	}
}

/* Media Query for Large Mobile Viewport */
@media screen and (min-width: 303px), print {
	/* Large Mobile Viewport: Style rules for main content */
	main {
		font-size: 70%;
	}

	/* Large Mobile Viewport: Style rules for .nav-link class content */
	.nav-link {
		font-size: 20%;
	}
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 431px), print {

	/* Tablet Viewport: Style rules for header area */
	h1 {
		font-size: 100%;
	}

	h2{
		font-size: 100%
	}
	
	/* Tablet Viewport: Style rules for header area */
	main {
		font-size: 75%;
	}
	
	/* Tablet Viewport: Style rules for header area */
	nav li {
        margin: 0.5%;
    }

	/* Tablet Viewport: Style rules for .nav-link class content */
	.nav-link {
		font-size: 40%;
	}
} 

/* Media Query for Large Tablet Viewport */
@media screen and (min-width: 594px), print {

	/* Large Tablet Viewport: Style rules for header area */
	header {
		width: 80%;
	}
	
	h1 {
		font-size: 100%;
		margin-left: 20%
	}

	h2 {
		font-size: 120%;
	}

	/* Large Tablet Viewport: Style rules for main content */
	main {
		font-size: 80%;
	}
	
    /* Large Tablet Viewport: Style rules for nav area */
    nav li {
        margin: 0.5%;
    }

	
	.nav-link {
		font-size: 55%;
	}
}

/* Media Query for Small Desktop Viewport */
@media screen and (min-width: 700px), print {
	
	/* Small Desktop Viewport: Styles for .nav-link*/
	.nav-link {
		font-size: 70%;
	}

	/* Small Desktop Viewport: Style rules for main content */
	main {
		font-size: 90%;
	}
}


/* Media Query for Desktop Viewport */
@media screen and (min-width: 817px), print {

    /* Desktop Viewport: Style rules for header */
    header {
        width: 80%;
    }
	h1 {
		font-size: 1.7em;
		align-content: center;
	}

	h2 {
		font-size: 1.5em;
	}
	
	/* Desktop Viewport: Style rules for img */
	img {
		max-width: 80%	
	}
	
    /* Desktop Viewport: Style rules for .nav-bar content */
	.nav-link {
		font-size: 90%;
	}

    /* Desktop Viewport: Style rules for the main content */
    main {
		font-size: 100%;
		text-align: center;
        border-style: none;
        margin-bottom: 1em 0;
        overflow: auto;
    }

    /* Desktop Viewport: Style rule for footer */
    footer {
        clear: left;
    }

}

/* Media Query for Large Desktop */
@media screen and (min-width: 1400px) {
   /* Large Desktop Viewport: Style rules for .nav-link class content */
	.nav-link {
		font-size: 100%;
	}
}
