/* 
Author: Tobias McMillan
Date: 03/07/2026
File Name: styles.css
*/

/* CSS Reset: */
body, header, nav, ul, main, footer, img, h1 {
	margin: 0;
	padding: 0;
	border: 0;
}



/* style rules for body content */
body {
	padding-top: 160px;
}	

p {
	text-align: center;
	max-width: 60%
}	

/* Style rules for nav content */
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
	background-color: #ADD8E6;
}

.navbar {
	padding: 5px 0;
}

.navbar li a {
  padding: 5px 10px;  /* reduce padding to shrink items */
  display: block;     /* makes the clickable area consistent */
}

.navbar li {
  list-style: none;
}

nav li {
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid #ADD8E6
}

nav li a {
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}

/* Style rules for images */
img {
	display: block;
	width: 80%;
	height: 35%;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

/* Styles rules for header content */
header {
	text-align: center;
}

footer {
	text-align: center;
	font-size: 0.7em;
	clear: left;
}	

h1 {
	font-family: sans-serif;
	font-weight: bold;
	padding-left: 50px
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 488px), print {

    /* Tablet Viewport: Style rules for nav area */
    nav li {
        display: inline-block;
        margin: 0.5%;
    }

	nav ul {
		margin-bottom: 0.7em;
	}
	
    nav li a {
        padding: 0.1em 1em;
    }

	/* Tablet Viewport: styles for img */
	img {
		margin-bottom: 1em;
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px), print {

    /* Desktop Viewport: Style rules for header */
    header {
        width: 50%;
    }

	/* Desktop Viewport: Style rules for img */
	img {
		max-width: 80%
		margin-top: 0.1em;	
		margin-bottom: 1.5em;
	}
	
    /* Desktop Viewport: Style rules for nav */
    nav li {
        border-radius: 0;
    }

    nav ul {
        text-align: right;
    }

    nav li a {
        display: inline-block;
        padding: 0.7em;
    }

    nav li a:hover {
        color: #4424d6;
        background-color: #e5e0fa;
    }

    /* Desktop Viewport: Style rules for the main content */
    main {
        border-style: none;
        margin-bottom: 1em 0;
        overflow: auto;
    }

    /* Desktop Viewport: Style rule for footer */
    footer {
        clear: left;
    }

}

/* Media Query for Large Desktop */
@media screen and (min-width: 1441px) {
    #container {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }
}
